/*
Theme Name: Bootstrap 4 Sass
Description: Bootstrap 4 with Sass
*/

// import files
@import "import";

/* GENERAL STYLES
-------------------------------------------------*/

body {
    background: $white;
}


/* COLORS
--------------------------------------------------*/

a {
    color: $accent-shade;
}

.bg-inverse {
    background: $primary-shade !important;
}

.site-footer {
    background: $accent-shade !important;
}

.menu--main li a {
    color: $primary-shade;
}

.menu--account li a {
    color: $primary-shade;
}

.site-name-slogan a {
    text-decoration: none;
}

.card-group img {
    margin: 0;
    width: 100%;
    height: auto;
}

.card-group .field--type-image {
    margin: 0
}

.slick {
    width: 100%;
}

.slick>div {
    margin: 0 15px;
}

.view-projects {
  .view-content {
    .table-responsive {
      table {
        margin-bottom: 0;
      }
      &:last-child {
        table {
          margin-bottom: 1rem;
        }
      }
      &:not(:first-child) {
        .thead-dark {
          display: none;
        }
        td {
          border-top: none;
        }
      }
      tr {
        td {
          width: 20%;
          word-break: break-all;
        }
        &:first-child {
          td {
            &:first-child {
              text-align: center;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}
